@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

    <section id="top">
        <div class="wrapper">
            <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">
        <section id="top">
            <div class="wrapper">
                <h2>Witaj w aplikacji dla administratorów budynków, którzy pragną optymalizować koszty zarządzania budynkami</h2>
            </div>
        </section>
    </div>
}